* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#000000;
}

header {
  background-color:#EC715F;
}

p {
  font-size: 16px;
}
.container {
  margin: auto;
  text-align: center;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.nav{
  flex: 2;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-list {
  height: 70px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  color: #FAFAFA;
  display: inline-block;
  text-align: center;
  align-content: center;
}

.nav-list a:link {
  color: #FFF;
  text-decoration: none;
}

.nav-list a:visited {
  color: white; /* 訪問済みリンクの文字色も白に設定 */
}

.mv-group {
  width: 100%;
  min-height: 650px;
  padding-top: 200px;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mv-title {

  font-size: 64px;
  color: #FAFAFA;
}

.mv-text {
  padding-top: 10px;
  color: #FAFAFA;
}

.portfolio-group{
  background-color: #ECEFF1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.heading {
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.heading-text{
  padding-top: 30px;
  color: black;
}

.portfolio-img-group {
  width: 920px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio-img:nth-child(1) {
  background-image: url(../img/sketch.jpg);
  margin-right: 10px;
}

.portfolio-img:nth-child(2) {
  background-image: url(../img/websuku.png);
  margin-right: 10px;
}

.portfolio-img:nth-child(3) {
  background-image: url(../img/write.jpg);
}

.portfolio-img:nth-child(4) {
  background-image: url(../img/webcamp.png);
  margin-top: 10px;
}

.portfolio-img:nth-child(5) {
  background-image: url(../img/talk.jpg);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio-img:nth-child(6) {
  background-image: url(../img/webcamp-mother.png);
  margin-top: 10px;
}

.feature-group {
  padding-top: 90px;
  padding-bottom: 90px;
}
.feature-title {
  font-size: 32Px;
}

.feature-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.feature-text {
  padding-top: 30px;
}

.feature-messages {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  }

.feature-message {
  width: 320px;
  margin-right: 10px;
}
.feature-message:nth-child(3){
  margin-right: 0;
}
.feature-message-image {
  font-size: 60px;
}
.message-title {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.feature-message-text {
text-align: left;
}

.profile-group {
  background-color: #ECEFF1;
  padding-top: 90px;
  padding-bottom: 90px;
}
.profile-title {
font-size: 32px;
}
.profile-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
  margin-bottom: 30px;
}
.profile-title-message{
  padding-bottom: 30px;
}

.profile-data {
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 512px;
  height: 250px;
}

.photo {
  border-radius:50%;
}

.profile-text {
  width: 512px;
  text-align: left;
}
.profile-main {
  font-size: 20px;
  padding-bottom: 5px;
}
.profile-message {
  padding-bottom: 20px;
}
.profile-massage:last-child{
  padding-bottom: 0;
}

.contact-group {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact-title {
  font-size: 32px;
}

.contact-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
  margin-bottom: 30px;
}

.contact-title-message {
  padding-bottom: 30px
}

.address-data-groups {
  display: flex;
  justify-content: center;
}

.address-group {
  width: 400px;
}

.address-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.address {
  width: 180px;
  text-align: left;
  margin: auto;
}

.address-body {
  padding-bottom: 20px;
}
.address-body:last-child {
  padding-bottom: 0;
}

.sns {
  width: 200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.sns-icons i {
 padding-right: 20px;
 font-size:50px;
}
.sns-icons i:last-child{
  padding-right: 0;
}

footer {
  background-color:#EC715F;
}

.footer-message {
  height: 60px;
  text-align: center;
  color: #FAFAFA;
  align-content: center;
}